body {
    background: ddd;
}

#menu {
    background: rgba(0, 0, 255, 0.2);
}

.div_login {
    margin: auto;
    border: solid 2px black;
    border-radius: 30px;
    padding: 20px;
    width: 50%;
    height: 70px;
}

table,
td {
    border: solid 1px black;
    border-radius: 10px;
}

td {
    padding: 10px;
}

#tbl_categorias {
    border-color: blue;
    background: #ddd;
    padding: 10px;
}

#tbl_categorias td {
    border-color: red;
    background: #eee;
}